:root {
  --page-margin: min(2rem, 5vw);
  color: black;
}

section {
  display: grid;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
}
section > * {
  grid-column: center;
}

.cards-wrapper {
  grid-column: center-start/-1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);
}
.cards-wrapper .card {
  display: grid;
  place-content: center;
  background-color: #d0f0ee;
  color: #15928A;
  font-size: 1.5rem;
  height: 14rem;
  min-width: 10rem;
}

.billed {
  font-size: 1.5rem;
  padding: 1rem 0;
}